
.container-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 7.6em));
    grid-auto-rows: minmax(auto, 7.6em);
    gap: 1em;
    margin: 1em;


    & div {
        border: solid black 1px;
        padding: 0.2em;
    }
}

.container-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 7.6em));
    grid-auto-rows: minmax(auto, 7.6em);
    gap: 1em;
    margin: 1em;
    & div {
        border: solid black 1px;
        padding: 0.2em;
    }
}

.container-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 7.6em));
    grid-auto-rows: minmax(auto, 7.6em);
    gap: 1em;
    margin: 1em;
    & div {
        border: solid black 1px;
        padding: 0.2em;
    }
}

.color-box-text {
    background-color: white;
    padding: 0em 0.2em 0em;
}

