@import url('./_base.scss');

.divPage{
    margin-left: 20em;
    border: solid blue 2px;
    padding: 0.2em;
    width: 7em;
}

//
.container-1{

.base-color{
    background-color: #00B4D8;
}

  // Darks

.darken-1 {
    background-color: #0096C7;
}

.darken-2 {
    background-color: #0077B6;
}


.darken-3 {
    background-color: #023E8A;
}

.darken-4 {
    background-color: #03045E;
}

  // Ligths

.lighten-1{
    background-color: #48CAE4;
}

.lighten-2 {
    background-color: #90E0EF;
}

.lighten-3 {
    background-color: #ADE8F4;
}

.lighten-4 {
    background-color: #CAF0F8;
}

}

//
.container-2 {

    .base-color {
        background-color: #bc00dd;
    }

 // Darks

    .darken-1 {
        background-color: #b100e8;
    }

    .darken-2 {
        background-color: #a100f2;
    }


    .darken-3 {
        background-color: #8900f2;
    }

    .darken-4 {
        background-color: #6500e8;
    }

    // Lights

    .lighten-1 {
        background-color: #db00b6;
    }

    .lighten-2 {
        background-color: #e40ca7;
    }

    .lighten-3 {
        background-color: #f22e9d;
    }

    .lighten-4 {
        background-color: #ef46a6;
    }

}

//
.container-3 {

    .base-color {
        background-color: #FFAA00;
    }

    // Darks

    .darken-1 {
        background-color: #FFA200;
    }

    .darken-2 {
        background-color: #FF9500;
    }


    .darken-3 {
        background-color: #FF8800;
    }

    .darken-4 {
        background-color: #FF7B00;
    }

    // Lights

    .lighten-1 {
        background-color: #FFC300;
    }

    .lighten-2 {
        background-color: #FFD000;
    }

    .lighten-3 {
        background-color: #FFDD00;
    }

    .lighten-4 {
        background-color: #ffef3a;
    }

}





