@import url('./_base.scss');

.divPage{
    margin-left: 20em;
    border: solid blue 2px;
    padding: 0.2em;
    width: 7em;
}


$color1: #00B4D8; // color inicial para el primer bloque
$color2: #bc00dd;
$color3: #935e04;

//
.container-1{

@for $i from 1 through 7 {
        div:nth-child(1n + #{$i}) {
            background-color: lighten($color1, $i * 5%);
        }
    }
}

//
.container-2{
    @for $i from 1 through 7 {
            div:nth-child(1n + #{$i}) {
                background-color: lighten($color2, $i * 5%);
            }
        }
}

//
.container-3{
    @for $i from 1 through 7 {
            div:nth-child(1n + #{$i}) {
                background-color: lighten($color3, $i * 5%);
            }
        }
}




